:root {
    --primary: grey;
    --moreinfo: #7395AE;
    --warning: orange;
    --danger: #eb3f27;
    --white: white;
    --dark: black;
}

.btn {
    font-family: "Apercu Pro";
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn--primary--solid:hover {
    transform: translateY(-5px);
}

.btn--primary--solid {
    background-color: var(--primary);
    border: none;
}

.btn--moreinfo--solid {
    background-color: var(--moreinfo);
    border: none;
}

.btn--moreinfo--solid:hover,
.btn--moreinfo--solid:active {
    background-color: #557A95;
}

.btn--medium {
    padding: 5px 10px;
    font-size: 16px;
}