.event{
    margin: 25px 0;
    padding: 5px 25px;
    border-style: solid;
    border-radius: 20px;
    border-color: #90a4ae;
    white-space: pre-wrap;
}


.event-message-link {
    color: white;
    text-decoration: none;
}

.event-message-content{
    padding: 0;
}


.event-message-date {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.event-message-date i {
    padding-top: 10px;
    padding-right: 5px;
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 100px
}

.searchbar {
    display: flex;
    flex-direction: row;
    margin: 0 370px;
    padding-right: 10px;
}

.searchbar-icon {
    align-items: center;
    margin: 2px 10px;
    padding-top: 10px;
}

.searchbar-textinput {
    width: 100%;
}

.intro {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.btn-floating {
    position: fixed;
    right: 30px;
    bottom: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffb74d;
    box-shadow: none;
}


.btn-floating:hover  {
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.btn-floating:active,
.btn-floating:hover  {
    background-color: #ffa726;
}
