.LandingClass {
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: brightness(40%);
}

.banner-words h1{
    font-family: "Basement-Medium";
    font-size: 110px;
    padding-left: 20px;
    justify-content: center;
    margin: 5px 0px;
}

.banner-words p{
    font-size: 20px;
    padding-left: 7px;
    margin:0;
}

.banner-words {
    padding-bottom: 90px;
}
 
.about-who-are-we {
    display: flex;
    padding: 40px 295px;
    align-items: centers;
    background-color: white;
    text-align: center;
}

.about-who-are-we img{
    margin-right: 160px;
    margin-top: 30px;
    height: 165px;
    width: 165px;
}

.about-motivation {
    display: flex;
    padding: 40px 250px;
    align-items: center;
    background-color: #def2f1;
    text-align: center;
}

.about-motivation img {
    margin-right: 100px;
    margin-top: 50px;
    height: 250px;
    width: 250px;
}

.about-text h1 {
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.about-text p {
    font-size: 16px;
}

.about-user-stories {
    display: flex;
    padding: 40px 250px;
    align-items: center;
    background-color: #becddf;
    text-align: center;
}

.about-user-stories img {
    margin-right: 150px;
    margin-top: 50px;
    height: 200px;
    width: 200px;
}

.about-list {
    text-align: left;
    list-style: number;
}

.about-list li {
    font-size: 16px;
}

