.navbar {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: #7395AE;
    height: 65px;
    transition: 0.6s;
    z-index: 100000;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.6s;
}

.navbar-nav-logo {
    padding-top: 20px;
    padding-left: 30px;
    transition: 0.6s;
}
    
.navbar-nav-logotext {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Basement-Medium";
    font-size: 30px;
    left: 42%;
    padding-top: 5px;
    transition: 0.6s;
}

.spacer {
    flex: 1;
}

.navbar-nav-items ul {
    list-style: none;
    padding-right: 15px;
    margin: 0px;
    display: flex;
    position: relative;
}

.navbar-nav-items li {
    height: 65px;
    padding: 0px 12.5px;
    line-height: 65px;
    text-align: center;
    position: relative;
    transition: 0.6s;
}

.navbar-nav-items-non-button:hover,


.navbar-nav-items a {
    color: white;
    text-decoration: none;
    font-family: "Apercu Pro";
    font-size: 16px;
}
