.navbar {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: #7395AE;
    height: 65px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-nav-logo {
    padding-top: 2.5px;
    padding-left: 30px;
}
    
.navbar-nav-logotext {
    position: fixed;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Basement-Medium";
    font-size: 30px;
    left: 46%;
    padding-top: 5px;
}

.navbar-nav-logotext a:hover,
.navbar-nav-logotext a:active {
    color: orange;
}

.spacer {
    flex: 1;
}

.navbar-nav-items ul {
    list-style: none;
    padding-right: 30px;
    margin: 0px;
    display: flex;
}

.navbar-nav-items li {
    height: 65px;
    width: 100px;
    line-height: 65px;
    text-align: center;
}

.navbar-nav-items a {
    color: white;
    text-decoration: none;
    font-family: "Apercu Pro Light";
}

.navbar-nav-items li:hover,
.navbar-nav-items li:active {
    background-color: #557A95;
}