.data {
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.event{
    margin: 25px 0;
    padding: 0px 20px;
    border-style: solid;
    border-radius: 20px;
    border-color: #7395AE;
}

.event-message-link {
    color: white;
    text-decoration: none;
}

.event-message-content{
    padding: 0
}

.event-message-date{
    padding: 0
}

.loading-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 50px;
    padding-top: 25px
}